/* Global styles */
:root {
  --color-black: #000000;
  --color-white: #f1f1f1;
  --color-grey: #9d9d9d;

  --ff-h: "Montserrat Alternates", sans-serif;
  --ff-p: "Raleway", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

section {
  height: 100vh;
  width: 100%;
  background-color: var(--color-black);
  text-align: center;
}

p,
a {
  font-family: var(--ff-p);
  font-weight: 400;
  color: var(--color-grey);
}

a {
  text-decoration: none;
}

/* nav styles */

header {
  position: absolute;
  z-index: 1;
  top: 8rem;
  left: 16rem;
}

.nav_box {
  height: 21.4rem;
  border-left: 1px solid var(--color-white);
  position: relative;
}

ul {
  position: absolute;
  border-top: 1px solid var(--color-white);
  top: 4.6rem;
}

li {
  display: inline-block;
  padding-left: 1.4rem;
  padding-top: 1.4rem;
}

.nav_links {
  color: var(--color-grey);
  font-size: 2.4rem;
  line-height: 2.818rem;
}

.circle {
  width: 4.6rem;
  height: 4.6rem;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 2.3rem;
  left: -2.3rem;
}

/* section one styles */

.portrait_container {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  display: inline-block;
}

.portrait_img {
  filter: grayscale(80%) brightness(50%);
  max-width: 66.4rem;
}

.heading {
  display: inline-block;
  width: 70%;
  text-align: center;
  border-top: 1px solid var(--color-white);
}

h1 {
  font-family: var(--ff-h);
  font-weight: 400;
  font-size: 14.4rem;
  letter-spacing: 3rem;
  color: var(--color-grey);
  text-transform: uppercase;
}

/* section 2 styles */

.section_two_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_two_container > .p_container {
  border-right: 1px solid var(--color-white);
  height: 100vh;
  display: flex;
  width: 50%;
}

.section_two_container > div > p {
  font-size: 3.5rem;
  line-height: 6.4rem;
  align-self: center;
  justify-self: center;
  padding-right: 15rem;
}

.spotify {
  display: flex;
  justify-content: center;
  padding-left: 15rem;
}

iframe {
  height: 50rem;
  width: 50rem;
  align-self: center;
}

/* section 3 styles */

.section_three {
  display: inline-block;
  width: 100%;
}

.section_three > .left {
  display: inline-block;
  float: left;
  width: 10%;
  height: 100vh;
  border-right: 1px solid var(--color-white);
}

.gallery_container {
  display: inline-block;
  width: 80%;
  height: 100%;
}

.section_three > .right {
  display: inline-block;
  float: right;
  width: 10%;
  height: 100vh;
  border-left: 1px solid var(--color-white);
}

.grid_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.album_box {
  border: 1px solid var(--color-white);
  height: 29rem;
  width: 26rem;
  justify-self: center;
  align-self: center;
  position: relative;
}
.album_box > a {
  width: 100%;
  height: 100%;
}
.album_cover {
  max-width: 85%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* section 4 styles */

.section_four {
  height: 100vh;
  width: 100%;
  position: relative;
}

.links_container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--color-white);
  width: 42.6rem;
  height: 56.1rem;
}

.links_container > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.links_container > div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links {
    width: 100%;
}

.links > a {
    font-size: 3.5rem;
    line-height: 6.4rem;
}